//- main 
player
game_logs

script(src="https://rawgit.com/riot/riot/master/riot.min.js")
script(src="../tags/player/player.js")
script(src="../tags/game_logs/game_logs.js")
script riot.mount('player')
script riot.mount('game_logs')
