main
  player
  game_logs

  script(src="../lib/js/riot.min.js")
  script(src="../app/tags/player/player.js")
  script(src="../app/tags/game_logs/game_logs.js")
  script.
    obs = riot.observable()
  
  script riot.mount('player')
  script riot.mount('game_logs')
