player
  div
    table
      thead
        th name
        th wins
        th
         span(class='truncate') continuous
        th point
        th set
      tbody
        tr
          td
            span(show='{p1.adv}' class="new badge red left" data-badge-caption="ADV") 
            input(id="p1_name" value='{p1.name}' placeholder='Player1' type="text")
          td {p1.wins}
          td {p1.continuous}
          td {p1.point}
          td {p1.set}
        tr
          td 
            span(show='{p2.adv}' class="new badge blue left" data-badge-caption="ADV") 
            input(id="p2_name" value='{p2.name}' placeholder='Player2' type="text")
          td {p2.wins}
          td {p2.continuous}
          td {p2.point}
          td {p2.set}

  script(type='text/livescript' src='player.ls')

