html
  head
    title Donation Colloseum | score board
    link(type='text/css' rel='stylesheet' href='/bower_components/materialize/dist/css/materialize.min.css')
    script(type='text/javascript' src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/bower_components/materialize/dist/js/materialize.min.js')
    script(src='/bower_components/prelude-ls/browser/prelude-browser-min.js' type='text/javascript')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  body
    nav(class='indigo')
      div(class='nav-wrapper')
        span(class='brand-logo center')
          | Donation Colloseum
    div(class='container')
      include templates/main.pug
