html
  head
    title Donation Colloseum | score board
    link(type='text/css' rel='stylesheet' href='../lib/css/materialize.min.css')
    script(type='text/javascript' src='../lib/js/jquery.min.js')
    script(type='text/javascript' src='../lib/js/materialize.min.js')
    script(src='../lib/js/prelude-browser-min.js' type='text/javascript')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  body
    nav(class='indigo')
      div(class='nav-wrapper')
        span(class='brand-logo center')
          | Donation Colloseum
        span(class='version right')
          | v0.0.1β
    div(class='container')
      include templates/main.pug
