game_logs
  hr
  h3
    |GAME LOGS
  div
    button(onclick='{win}' value='1') Player1 WIN
    button(onclick='{win}' value='2') Player2 WIN
  table
    thead
      th game
      th p1
      th p2
    tbody
      tr(each='{game_result, i in game_results_desc()}')
        td {game_results.length - i} 
        td {game_result.player1} 
        td {game_result.player2}

  script(type='text/livescript' src='game_logs.ls')

